.headerContainer {
    width: 90%;
    margin-left: 8%;
    margin-top: 25px;
    height: 50px;

}

.color-nav {
  background-color: red;
}

#page-wrap {
    width: 100%;
    height:100%;
}

.cards {
    height: 530px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.profile-wrapper {
    margin-top: 60px;
    margin-left: 60px;
}

.buttons {
    margin-top: 40px;
}

.recommendButton {
    background-color: #D39F10;
    border-radius: 4px;
    border: 1px solid black;
    float: left;
    height: 50px;
    padding: 10px 10px 10px 10px;
    font-weight: 600;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: #051038;
}

.recommendButton:hover {
    background-color: #d4af37;
}

.passButton {
    background-color: #79A9C3;
    border-radius: 4px;
    border: 1px solid black;
    float: right;
    padding: 10px 10px 10px 10px;
    font-weight: 600;
    height: 50px;
    margin-top: -100px;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: #051038;
}

.passButton:hover {
    background-color: #95C3D5;
}

.recommendButtonHigher {
    background-color: #79A9C3;
    border-radius: 4px;
    border: 1px solid black;
    margin-top: -15px;
    padding: 10px 10px 10px 10px;
    font-weight: 700;
    float: right;
    font-size: 20px;
    width: 183px;
    height: 80px;
    white-space: pre-line;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: #051038;
}

.recommendButtonHigher:hover {
    background-color: #95C3D5;
}

.notMeButtonText {
    font-size: 20px;
    color: black;
    display: inline-block;
    font-weight: 700;
    white-space: pre-line;
}

.notMeButtonArrow {
    margin-top: -5px;
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-left: 5px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.passButtonNotMe {
    margin-top: -15px;
    width: 183px;
    float: left;
    height: 80px;
}

.passButtonNotMe:hover {
    background-color: #95C3D5;
}


.button1Col {
    width: 170px;
}

.button2Col {
    width: 170px;
}

.pop-open-button {
    width: 30px;
    height: 30px;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    margin-top: 25px;
    float: right;
}

.navbar-dropdown-container {
  width: 100%;
  margin: 0;
}

.nothing-message {
}

.filter-div {
  display: inline-block;
  background-color: white;
  border-radius: 4px;
  border: 2px solid black;
  padding: 5px 5px;
  height: 40px;
  cursor: pointer;
  margin-top: 2px;
}

.submit-filter-button {
  width: 30px;
  height: 30px;
  display: inline-block;
}

.submit-filter-text {
  font-size: 14px;
  margin-right: 5px;
  display: inline-block;
  font-weight: 600;
}

.overall {
  margin-top: -20px;
}
