.chatContainer {
    width: 100%;
    height: 100%;
}

.chat-page {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.fillHeightChat {
    height: 100%;
}

.chatRoomTitle {
   border-bottom: 4px solid black;
   text-align: center;
   width: 200%;
   background-color: white;
}

.chatRoomTitleFont {
    display: inline-block;
    font-size: 30px;
    font-weight: 600;
    padding: 12px;
}

.messageNavContainer {
  box-shadow: 8px 0px 4px grey;
}

.messageNav {
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    background-color: #E8E8E8;
    height: 90%;
    width: 24.5%;
    position: fixed;
    top: 50%;
    transform: translate(0%, -42%);
    overflow-y: auto;
    overflow-x: hidden;
    text-align: center;
}

.messagesTitle {
    font-size: 28px;
    font-weight: 700px;
    padding: 20px;
}

.chatRoom {
    width: 100%;
    position: relative;
    height: 550px;
    overflow-y: auto;
    margin-top: 20px;
}

.vChat {
    border-left: 5px solid black;
    position: relative;
    overflow: hidden;
}

.messageBox {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 70%;
    white-space: pre-line;
    white-space: pre-wrap;
    border: 2px solid black;
    border-radius: 6px;
    resize: none;
    overflow: hidden;
    min-height: 50px;
    max-height: 100px;
}

.chatRoom-container {
    height: 90%;
}

.sendtext-container{
    height: auto;
    position: absolute;
    bottom: 0px;
    width: 100%;
    border-top: 4px solid black;
    padding-top: 20px;
    background-color: white;
}


.sendtext-button {
   border: 2px solid black;
   background-color: #84BD69;
   border-radius: 8px;
   margin-bottom: 22px;
   float: left;
}

.sendtext-img {
    height: 30px;
    width: 30px;
}

.blue {
    background-color: blue;
}

.triangle-right {
    display: inline-block;
    width: 0;
    height: 0;
    border-bottom: 5px solid transparent;  /* left arrow slant */
    border-top: 5px solid transparent; /* right arrow slant */
    border-left: 5px solid #84BD69; /* bottom, add background color here */
    font-size: 0;
    line-height: 0;
    bottom: 0px;
}

.messageBeingSent {
    width: 100%;
    background-color: red;
}

.message-right-triangle {
  margin-left: 100px;
  margin-top: 5px;
  margin-bottom: 10px;
  float: right;
}

.message-left-triangle {
  margin-right: 100px;
  margin-top: 5px;
  margin-bottom: 10px;
  float: left;
}

.messageDivider {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    border-top: 2px solid transparent;
}

.myMessage-container {
  height: auto;
  width: auto;
  background-color: #84BD69;
  text-align: left;
  padding: 5px 10px;
  border-radius: 10px;
  display: inline-block;
  max-width: 400px;
}

.theirMessage-container {
  height: auto;
  width: auto;
  background-color: #BAE99C;
  text-align: left;
  padding: 5px 10px;
  border-radius: 10px;
  display: inline-block;
  max-width: 400px;
}

.triangle-left {
    display: inline-block;
    width: 0;
    height: 0;
    border-bottom: 5px solid transparent;  /* left arrow slant */
    border-top: 5px solid transparent; /* right arrow slant */
    border-right: 5px solid #BAE99C; /* bottom, add background color here */
    font-size: 0;
    line-height: 0;
    bottom: 0;
}

.message-left-triangle {
  margin-right: 100px;
  margin-top: 5px;
  margin-bottom: 10px;
  float: left;
}

fade {
    position: absolute;
    bottom: 0px;

    display: block;

    width: 100%;
    height: 50px;

    background-image: linear-gradient(to bottom,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0.9)
    100%);
}

.send-button-col {
  margin-left: 0px;
  padding-left: 0px;
}

.date-button-col {
  margin-right: 0px;
  padding-right: 0px;
}

.plandate-button {
   border: 2px solid black;
   background-color: #84BD69;
   border-radius: 8px;
   margin-bottom: 22px;
   float: right;
}

.generatemessage-button {
   border: 2px solid black;
   background-color: #84BD69;
   border-radius: 8px;
   margin-bottom: 22px;
   float: right;
}

.opaque-background {
  opacity: 0.2;
  width: 100%;
  height: 85%;
  position: absolute;
  top: 30px;
  left: 0px;
  z-index: -1;
}
