.multiple-choice-container {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 40px;
}

.question-line {
  margin-bottom: 40px;
  width: 100%;
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 30px;
  text-align: right;
}

.question-text {
  font-size: 20px;
  font-weight: 400;
  width: 100%;
  margin-bottom: 30px;
  text-align: left;
}

.text-test {
  margin-bottom: -3px;
  width: 100%;
  text-align: left;
  display: inline-block;
}

.test-container {
  width: 100%;
}
