.sendButton {
    height: 40px;
    width: 50px;
    border-radius: 50px;
    border: 4px solid black;
    margin-top: -60px;
    float: right;
    margin-right: 90px;
}

.sendButton:hover {
    border: 6px solid black;
}

.sendButtonImg {
    height: 25px;
}
