.section-header {
  font-size: 20px;
  margin-top: 15px;
}

.section-subclass {
  margin-left: 25px;
  font-weight: 700;
}

.section-subfont {
  font-style: italic;
  margin-left: 25px;
  font-weight: 500;
  margin-right: 40px;
}

.prompt-control {
  width: 80%;
  margin-left: 25px;
}

.plus-dynamic {
  margin-top: -50px;
  background-image: url( '../img/add.png' );
  background-size: cover;
  background-color: #84BD69;
  float: right;
  margin-right: 30px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 1px solid #84BD69;
}

.file-input {
  margin-bottom: 25px;
  margin-top: 10px;
  margin-left: 50px;
}

.move-up {
  margin-top: -15px;
}
