.form-control {
  border-color: #167bff;
  box-shadow: none;
}

.title-text-textbox {
  margin-left: 0px;
  margin-bottom: -3px; 
}

.form-control-help {
  border-color: #167bff;
  box-shadow: none;
}

.resize-to-dropdown {
}
