.form-control {
  width: 70%;
  border-color: #167bff;
  box-shadow: none;
  margin-right: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.promptBox {
  width: 70%;
  height: 300px;
  border-color: #167bff;
  box-shadow: none;
  margin-right: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
}
